<ion-header>
  <ion-toolbar>
    <ion-title>Edit Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()" class="modal-form">
    <ion-item>
      <ion-label position="stacked">User ID</ion-label>
      <ion-input type="number" formControlName="userId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Body</ion-label>
      <ion-textarea rows="6" formControlName="body"></ion-textarea>
    </ion-item>

    <ion-button type="submit" expand="block" class="save-btn" [disabled]="form.invalid">
      Save Changes
    </ion-button>
  </form>
</ion-content>
